// color
$theme: #fef7f1;
$color: #1b1b1b;
$cta: #db3333;
$slice_color: #0d80b7;

//polices
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;200;300;400;500;600;700;800;900&family=Big+Shoulders+Text:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/**
Thin 100
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
Extra-bold 800
Black 900
**/

.light {
  --gstruct: 95%;
  --borderStruct: 0.15em;
  --text: #1b1b1b;
  --text_rgb: 22, 22, 29;
  --fond: #fef7f1;
  --fond: #fff4ea;
  --cta: #db3333;
  --fondlow: #d6d1cb;
  --fond_rgb: 252, 250, 249;
  --noto: "Noto Sans", sans-serif;
  --big0: "Big Shoulders Stencil Text", cursive;
  --big1: "Big Shoulders Text", cursive;
  --slice_color: #0d80b7;
  --header_h: 4.8em;

  .no_light {
    display: none;
  }

  @media all and (max-width: 1000px) {
    --borderStruct: 0.05em;
    --header_h: 3.5em;
    --gstruct: 95%;
  }
}

.dark {
  --text: #fcfaf9;
  --text_rgb: 252, 250, 249;
  --fond: #16161d;
  --fond_rgb: 22, 22, 29;
  .no_dark {
    display: none;
  }
}

// html{
//   overflow: hidden;
//   height: 100vh;
//   width: 100vw;
// }
.body {
  margin: 0 auto;
  padding: 0 auto;
  height: 100vh;
  width: 100vw;
  // font-family: 'Big Shoulders Stencil Text', cursive;
  // font-family: 'Big Shoulders Text', cursive;
  font-family: var(--noto);

  overflow-x: hidden;
  overflow-y: hidden;

  scroll-behavior: smooth;

  background: var(--fond);
  color: var(--text);

  font-family: "No", sans-serif;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // @media all and all and (min-width: 2000px) {
  //   width: 1800px;
  // }
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--fond);
  color: var(--text);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1900000;
  font-family: "Montserrat";
  font-weight: 900;
  letter-spacing: 0px;
  font-size: 2vw;

  @media all and (max-width: 1000px){
    font-size: 4vw;
  }

  img{
    display: block;
    width: 10vw;
    margin-bottom: 0px;
    animation: opaque 2s ease-out infinite;

    @media all and (max-width: 1000px){
      width: 30vw;
    }

  }


  @keyframes opaque {

    0%,100%{ opacity: .4;}
    50%{opacity: 1;}
    
  }

  span {
    font-size: 3em;
  }
}

* {
  outline: none;
  scroll-behavior: smooth;
}

*::selection {
  background: var(--text);
  color: var(--fond);
}

a,a:hover{
  text-decoration: none;
  color: inherit;
}

// scroll bar

/*** scroollbar ***/
*::-webkit-scrollbar {
  width: 0px;
  background: rgba(0, 0, 0, 0) 0% 0% no-repeat padding-box;
}

*::-webkit-scrollbar-button {
  background: rbga(0, 0, 0, 0);
}

*::-webkit-scrollbar-track-piece {
  width: 0px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  border: none;
  width: 0px;
  background-color: rgba(0, 0, 0, 0);
}

//link init
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  :hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
}

.main {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  // background: #16161d;

  .main_struct {
    display: block;
    border: var(--borderStruct) solid var(--fondlow);
    border-bottom: none;
    border-top: none;
    height: 100%;
    width: 95%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;

    // @media all and (max-width: 1000px) {
    //   width: 97%;
    //   border: none;
    // }

    .siteColumn {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;
      z-index: -1;
      span {
        height: 100%;
        width: 0px;
        border-left: var(--borderStruct) solid var(--fondlow);
        opacity: 0.2;
        display: block;
      }
    }

    .CONTAINER {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: auto;
    }
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: var(--header_h);
  border-bottom: var(--borderStruct) solid var(--fondlow);
  backdrop-filter: blur(10px);
  .struct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--gstruct);

    .logo {
      display: block;
      // width: 150px;
      width: 80px;
      cursor: pointer;
      @media all and (max-width: 1000px) {
        // width: 100px;
        width: 50px;
      }
      img {
        width: 100%;
      }
    }

    nav {
      display: block;
      user-select: none;

      @media all and (max-width: 1000px) {
        display: none;
      }

      ul {
        list-style-type: none;
        margin: 0 auto;
        padding-left: 0;
        word-spacing: 2em;
        li {
          font-size: 1.5em;
          font-weight: 500;
          display: inline-block;
          position: relative;
          transition: 0.3s;
          cursor: pointer;
          color: var(--text);
          font-family: var(--big1);

          &::after {
            width: 500%;
            transition: 0.5s;
            content: " ";

            position: absolute;
            bottom: -31px;
            transition: 0.3s;
            transform: translateY(-50%) translateX(-50%);
            left: 0px;

            height: 6px;
          }
        }

        .active {
          color: var(--cta);
          transition: 0.3s;
          &::after {
            position: absolute;
            bottom: -31px;
            transition: 0.5s;
            transform: translateY(-50%);
            right: 100%;
            width: 100%;
            height: 6px;
            background: var(--cta);
            // background: linear-gradient(to top, var(--fondlow) 10% , var(--cta) 4px, var(--fondlow) 10%);
            content: " ";
            width: 100%;
          }
        }
      }
    }
  }
}

.btn_gen {
  padding: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  font-size: 1.5em;
  color: var(--fond);
  font-family: var(--big1);
  justify-content: center;
  align-items: center;
  /* UI Properties */
  // background: #0A684B;
  background: var(--cta) 0% 0% no-repeat padding-box;
  border: 3px solid var(--text);
  transition: 0.3s;
  box-shadow: 3px 3px 0px var(--text);

  &:hover {
    box-shadow: 0px 0px 0px var(--text);
    cursor: pointer;
  }

  @media all and (max-width: 1000px) {
    padding: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 1em;
  }
}

.btn_gen_2 {
  background: var(--slice_color);
  box-shadow: none;
  border-color: var(--slice_color);
  position: relative;
  &::after {
    content: " ";
    width: 100%;
    height: 100%;
    transform: translate(-4px, -4px);
    border: 2px solid var(--slice_color);
    position: absolute;
    transition: 0.3s;
  }

  &:hover {
    &::after {
      transform: translate(0px, 0px);
      transition: 0.3s;
    }
  }
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  width: 100%;
  margin-bottom: 20vh;

  @media all and (max-width: 1000px) {
    margin-bottom: 0vh;
  }

  &:last-child {
    padding-bottom: 20vh;
  }

  &__struct {
    display: block;
    width: var(--gstruct);
  }
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  @media all and (max-width: 1000px) {
    flex-direction: column;
  }

  &__image {
    display: block;
    width: 45%;
    height: auto;
    @media all and (max-width: 1000px) {
      width: 100%;
    }
    img {
      width: 100%;
    }

    .mobile {
      display: none;
    }
    .pc {
      @media all and (max-width: 1000px) {
        display: none;
      }
    }
    .mobile {
      @media all and (max-width: 1000px) {
        display: block;
      }
    }
  }

  &__text {
    display: block;
    width: 45%;
    @media all and (max-width: 1000px) {
      margin-top: 0px;
      width: 100%;
    }
    .text1 {
      display: block;
      font: normal normal 600 6.75em var(--big0);
      color: var(--text);
      span {
        color: var(--cta);
      }

      @media all and (max-width: 1300px) {
        font-size: 5em;
      }
    }

    .text2 {
      display: block;
      margin-top: 30px;
      font: normal normal medium 1.5em var(--noto);
      line-height: 1.2em;
      opacity: 0.7;
    }

    .awwwards {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 30px;
      .awwward {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .aw_ico {
          color: var(--cta);
          font-size: 5em;
          @media all and (max-width: 1300px) {
            font-size: 3em;
          }
          @media all and (max-width: 570px) {
            font-size: 10vw;
          }
        }
        .aw_value {
          color: var(--cta);
          font-size: 4em;
          font-family: var(--big0);
          font-weight: bold;
          margin-top: 10px;
          @media all and (max-width: 1300px) {
            font-size: 3em;
          }
          @media all and (max-width: 570px) {
            font-size: 8vw;
          }
        }

        .aw_label {
          font-size: 2em;
          color: var(--text);

          @media all and (max-width: 1300px) {
            font-size: 1.5em;
          }

          @media all and (max-width: 570px) {
            font-size: 4vw;
          }
        }
      }
    }
  }
}

.services {
  display: block;
  width: 100%;

  .text2 {
    width: 45%;
    @media all and (max-width: 1000px) {
      width: 100%;
    }
  }
  overflow-x: hidden;
  .service_container {
    display: block;
    width: 100%;
    overflow-x: auto;
    margin-top: 30px;
    padding-bottom: 20px;

    @media all and (max-width: 1000px) {
      padding-bottom: 0px;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
      @media all and (max-width: 1000px) {
        height: 6px;
      }
    }
    &::-webkit-scrollbar-thumb:horizontal {
      background-color: var(--cta);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-button {
      background: rbga(0, 0, 0, 0);
    }
    &::-webkit-scrollbar-track-piece {
      height: 10px;
      width: 20px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
      border: none;
      width: 10px;
      background: linear-gradient(
        to top,
        rgba(173, 32, 32, 0) 33%,
        var(--fondlow) 50%,
        rgba(173, 32, 32, 0) 33%
      );
    }

    &__struct {
      width:100%;
      display: flex;
      justify-content: space-between;

      @media all and (max-width: 1600px){
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      .service {
        width: 311px;
        height: auto;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        color: var(--fond);
        font-family: var(--big1);
        justify-content: flex-start;
        align-items: center;
        /* UI Properties */

        border: 3px solid var(--text);
        transition: 0.3s;
        box-shadow: 3px 3px 0px var(--text);
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
        @media all and (max-width: 1600px) {
          margin-left: 0px;
        }
        @media all and (max-width: 1450px) {
          width: 30%;
        }
        @media all and (max-width: 1030px) {
          width: 48%;
        }
        @media all and (max-width: 630px) {
          width: 100%;
        }
       
        &:first-child {
          margin-left: 0px;
        }

        &:hover {
          box-shadow: 0px 0px 0px var(--text);
          cursor: pointer;
        }

        &__ico {
          font-size: 3em;
        }

        &__image{
          width: 100%;
          border-bottom: 3px solid var(--text);
          border-radius: 2px;
       
          overflow: hidden;
          img{
            width: 100%;
            height:auto;
            object-fit: cover;
          }
        }

        &__text {
          font-size: 1.2em;

          text-align: left;
          margin-top: 30px;
          margin-bottom: 20px;
          width: 85%;
        }

        &__price{
          display: block;
          font-weight: bold;
          font-family: Montserrat;
          font-size: .8em;
          width: 85%;
          text-align: left;
          margin-top: 0px;
          margin-bottom: 30px;
          text-decoration: underline;
          

          span{
            font-weight: normal;
          }
        }

        &__btn {
          width: 74px;
          height: 74px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: var(--fond) 0% 0% no-repeat padding-box;
          box-shadow: inset 0px 3px 6px #00000063;
          font-size: 1em;

          display: none;
        }

        .btn_gen{
          font-size: .8em !important; 
          color: var(--fond) !important;
          width: 55% !important;
          height: 30px;
          margin-bottom: 10px;

          &:nth-child(2n+1) {
          margin-bottom: 25px !important;
          }

        }

        &:nth-child(2n + 1) {
          background: var(--cta) 0% 0% no-repeat padding-box;
          .service__btn {
            color: var(--cta);
          }

          .btn_gen{
            background: var(--cta) 0% 0% no-repeat padding-box;
          }

        }
        &:nth-child(2n) {
          transform: translateY(50px);
          margin-bottom: 50px;
          background: var(--slice_color) 0% 0% no-repeat padding-box;
          .service__btn {
            color: var(--slice_color) !important;
          }

          .btn_gen{
            background:  var(--slice_color) 0% 0% no-repeat padding-box;
          }

          @media all and (max-width: 1600px) {
            transform: translateY(0px);
          }

          @media all and (max-width: 1000px) {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

.full_service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__titre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text2 {
      width: 50%;
      text-align: center;
      margin-top: 20px;

      @media all and (max-width: 1000px) {
        width: 100%;
      }
    }
  }

  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    margin-top: 40px;

    @media all and (max-width: 1000px) {
      margin-top: 0px;
    }

    .video_box1 {
      width: 65%;
      height: 500px;
      /* UI Properties */
      background: var(--text) 0% 0% no-repeat padding-box;
      border-radius: 37px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 3px 6px #000000ba;

      @media all and (max-width: 1000px) {
        margin-top: 50px;
        width: 100%;
        height: 420px;
        border-radius: 10px;
      }
      @media all and (max-width: 560px) {
        height: 340px;
      }

      .tree_video {
        position: absolute;
        right: 10%;
        top: 0px;
        width: 7vw;
        transform: translateY(-90%);
        z-index: -1;

        @media all and (max-width: 1000px) {
          width: 12vw;
        }
      }

      .video_box2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 100%;
        transform: translateY(5%);
        background: var(--cta);
        border-radius: 27px;
        box-shadow: 0px 3px 6px #000000ba;
        border: 3px solid #fef7f1;

        @media all and (max-width: 1000px) {
          transform: translateY(2%);
          border-radius: 10px;
          width: 96%;
        }

        .video_box2 {
          border-radius: 17px;
          border: 3px solid #fef7f1;
          overflow: hidden;

          @media all and (max-width: 1000px) {
            border-radius: 5px;
          }
          .video_embed {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .services_list {
    display: block;
    width: 100%;

    margin-top: 100px;

    @media all and (max-width: 1000px) {
      margin-top: 50px;
    }

    .service_define {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 150px;
      @media all and (max-width: 1000px) {
        flex-direction: column;
        .service_define__details {
          margin-bottom: 30px;
        }

        margin-bottom: 80px;
      }

      &:first-child {
        margin-top: 90px;

        @media all and (max-width: 1000px) {
          margin-bottom: 70px;
        }

      }
      &:last-child {
        margin-bottom: 0px;
      }

      &:nth-child(2n + 1) {
        @media all and (max-width: 1000px) {
          flex-direction: column-reverse;

          .service_define__image {
            margin-bottom: 30px;
          }

          .service_define__details {
            margin-bottom: 0px;
          }
        }
      }

      &__details {
        width: 48%;
        @media all and (max-width: 1000px) {
          width: 100%;
        }
        .text1 {
          line-height: 1em;
        }
        .text2 {
          text-align: left;
          width: 90%;
          @media all and (max-width: 1000px) {
            width: 100%;
          }
        }

        .list_detail {
          display: block;
          margin-top: 20px;
          width: 90%;
          @media all and (max-width: 1000px) {
            width: 100%;
          }
          .list_detail_item {
            display: flex;
            width: 100%;
            justify-content: left;
            margin-bottom: 10px;
            .icon {
              margin-right: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 24px;
              height: 24px;
              box-sizing: border-box;
              border: 3px solid var(--text);
              border-radius: 50%;

              span {
                width: 80%;
                display: block;
                height: 80%;
                border-radius: 50%;
                background: var(--cta);
              }
            }

            .text {
              display: block;
              font-size: 1.5em;
              font-family: var(--big1);
              font-weight: 500;
              opacity: 0.7;
              width: 100%;

              .t {
                font-family: var(--noto);
                font-size: 0.65em !important;
                font-weight: normal;
                line-height: normal;
                margin-top: 5px;
              }
            }
          }
        }

        .btn_contain {
          margin-top: 30px;
          width: 40%;
          font-size: 1.3em;
        }
      }

      &__image {
        width: 48%;



        @media all and (max-width: 1000px) {
          width: 100%;
          margin-bottom: 30px;
        }
        img {
          width: 100%;
          border: 3.5px solid var(--cta);
          border-radius: 12px;
          box-shadow: 0px 0px 10px #222;
        }
      }
    }
  }
}

.temoignage {
  display: block;
  width: 100%;

  &__title {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__container {
    display: block;
    width: 100%;
    overflow-x: auto;
    margin-top: 50px;
    padding-bottom: 20px;

    @media all and (max-width: 1000px) {
      padding-bottom: 0px;
      margin-top: 10px;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
      @media all and (max-width: 1000px) {
        height: 6px;
      }
    }
    &::-webkit-scrollbar-thumb:horizontal {
      background-color: var(--cta);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-button {
      background: rbga(0, 0, 0, 0);
    }
    &::-webkit-scrollbar-track-piece {
      height: 10px;
      width: 20px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
      border: none;
      width: 10px;
      background: linear-gradient(
        to top,
        rgba(173, 32, 32, 0) 33%,
        var(--fondlow) 50%,
        rgba(173, 32, 32, 0) 33%
      );
    }
    &__struct {
      width: max-content;
      display: flex;
      justify-content: space-between;



      .testify {
        width: 400px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 1.5em;
        color: var(--fond);
        font-family: var(--big1);
        /* UI Properties */

        border: 3px solid var(--text);
        transition: 0.3s;
        box-shadow: -6px 6px 0px var(--text);
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;

        &:first-child {
          margin-left: 6px;
        }

        @media all and (max-width: 1000px) {
          width: 320px;
        }

        &__struct {
          display: block;
          width: 90%;
          margin-top: 20px;

          .image_travaux{
            width: 100%;
           
            img{
              width: 100%;
             
              object-fit: cover;
            }
          }

          .name {
            display: block;
            font-size: 1.2em;
            color: var(--text);
          }

          .stars {
            margin-top: 5px;
            width: 150px;
            margin-bottom: 10px;
          }

          .description {
            color: var(--text);
            font-size: 0.63em;
            font-family: var(--noto);
          }
        }
      }

      .work{
        height: auto !important;

        .testify__struct{
          width: 100% !important; 
          margin-top: 0px;
        }
      }
    }

    .no_swipe_struct{
      width:100%;
      display: flex;
      justify-content: space-between;
     
      @media all and (max-width: 1600px){
        flex-wrap: wrap;
        justify-content: space-between;
        .work{
          margin-left: 0px;
          margin-right: 0px;
          width: 30%;
          margin-top: 0px !important;
          margin-bottom: 15px !important;
         
        }
      }
      @media all and (max-width: 710px){
        .work{
          width: 47%;
        }
      }
      @media all and (max-width: 430px){
        .work{
          width: 100%;
        }
      }
    }

  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--text);
  border-top: 3px solid var(--cta);
  color: var(--fond);

  &__struct {
    display: flex;
    justify-content: space-between;
    width: var(--gstruct);

    @media all and (max-width: 1000px) {
      flex-direction: column;
      align-items: center;


      * {
        text-align: center;
      }
    }

    .item {
      display: block;
      .footer_logo {
        width: 150px;
        cursor: pointer;
        filter: drop-shadow( 3px 3px 0px var(--fond));
      
        @media all and (max-width: 1000px) {
          width: 70%;
         }
      }
      .contacts {
        display: block;
        margin-top: 50px;
        .contact {
          font-size: 2em;
          margin-bottom: 10px;
          display: block;
          @media all and (max-width: 1000px) {
           font-size: 1.5em;
          }

        }
      }
    }

    .line {
      border-top: 3px solid var(--fond);
      width: 100%;
      margin-top: 40px;
      padding-top: 40px;
      position: relative;

      @media all and (max-width: 1000px) {
        margin-top: 100px;
      }

      .tree_footer {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%) translateY(-101%);
        width: 10vw;
      }

      .footer_end {
        display: flex;
        justify-content: space-between;
        font-size: 1.2em;
        @media all and (max-width: 1000px) {
          flex-direction: column;
        }
        .socials {
          font-size: 1.2em;
          @media all and (max-width: 1000px) {
            margin-top: 20px;
          }
          .link {
            margin-left: 10px;
          
          }
        }
      }
    }
  }
}

.biggest_text {
  font: normal normal 600 6.75em var(--big0);
  @media all and (max-width: 1300px) {
    font-size: 5em;
  }
  @media all and (max-width: 1000px) {
    font-size: 15vw !important;
  }
}

.little_text {
  display: block;
  margin-top: 30px;
  font: normal normal medium 1.5em var(--noto);
  line-height: 1.2em;
  opacity: 0.7;
}





.box_form{
  display: none;
  justify-content: center;
  align-items: flex-start;
  top: 0px;left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: auto;

  background-color: #ffffffe3;
  position: fixed;
  z-index: 888;



  .formulaire{
    width: 80%;
    height: auto;
    position: relative;
    background: var(--text);
    margin-top:calc(var(--header_h) + 50px);
    padding-bottom: var(--header_h);
    box-shadow: 0px 3px 30px #000000BA;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media all and (max-width:1400px){
      width: 95%;
    }


  

    &__struct{
      margin-top:var(--header_h);
      width: 85%;
      display: flex;
      justify-content: space-between;


      &__description{
      width: 48%;
      @media all and (max-width:1200px){
        display: none;
      }
      .title{
        display: inline-block;
        font-size: 3.5em;
        font-family: var(--big0);
        color: var(--fond);
        position: relative;

        &::after{
          position: absolute;
          bottom: -20px;
          height: 6px;
          left: 0px;
          background: var(--fond);
          content: " ";
          width: 50%;
        }
      }

      .description{
        display: block;
        margin-top: 70px;
        line-height: normal;

        color: var(--fond);
        opacity: 1;

        img{
          width: 80%;
        }

      }

      

      }

      &__form{
        display: block;
        width: 48%;

        border-left: 3px solid var(--fond);
        padding-left: 70px;
        margin-left: 70px;
        @media all and (max-width:1200px){
          width: 100%;
          border-left:none;
          padding-left: 0px;
          margin-left: 0px;
        }

        .info_title{
          display: flex;
          justify-content: left;
          align-items: center;

          .ico{
          
            margin-right: 10px;
            font-size: 1.2em;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            border-radius: 50%;
            background: var(--cta);
            color: var(--fond);

            @media all and (max-width:1000px){
              height: 30px;
              font-size: 1em;
              width: 30px;
            }
          }

          .text{
            font-size: 1.5em;
            color: var(--fond);
            @media all and (max-width:1000px){
             
              font-size: 1em;
     
            }
          }
        }


        .form_contain{
          margin-top: 50px;
          input, select, textarea{
            display: block;
            width: 100%;
            font-size: 1.5em;
            font-family: var(--noto);
            margin-bottom: 30px;
            background: none;
            border: none;
            color: var(--fond);
            border-bottom: 2px solid var(--fond);
            padding-bottom: 15px;
            @media all and (max-width:1000px){
             
              font-size: 1em;
     
            }

            option{
              color: var(--text);
              padding-left: 20px;
              padding-top: 20px;
              padding-bottom: 20px;
              &::hover{
                
                  color: var(--fond);
                  background-color: var(--text);
              
            }}

            input:invalid {
              border: 2px dashed red;
            }
            
            input:valid {
              border: none;
              border-bottom: 2px solid var(--fond);
            }

          }

          textarea{
            height: 80px;
          }

          .btn_contain{
            .btn_gen{
              height: 40px;
              user-select: none;
              // background: #57D057;
              background: var(--fond);
              box-shadow: 3px 3px 0px var(--cta);
              color: var(--text);
              border-color: var(--cta);

            }
          }

        }

      }

    }

    &__close{
      display: block;
      color: var(--fond) !important;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 1.5em;
      z-index: 10;
      cursor: pointer;
      @media all and (max-width:1000px){
        top: 10px;
      right: 10px;
      font-size: 1.3em;
      }
    }
  }


}














/* ------------------------- Grain -------------------------------------------------- */
.noise {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  position: fixed;
  pointer-events: none;
}
.noise:before {
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 2000;
  content: "";
  position: absolute;
  pointer-events: none;
  background-position: 50%;
  background-image: url("../images/noise.png");
  pointer-events: none;
  -webkit-animation: noise 1s steps(2) infinite;
  animation: noise 1s steps(2) infinite;
}
@media all and (max-width: 700px) {
  .noise_none {
    display: none !important;
  }
}
@-webkit-keyframes noise {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
    transform: translate3d(-7rem, 0, 0);
  }
}
@keyframes noise {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
    transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
    transform: translate3d(-7rem, 0, 0);
  }
}
